/* HERO */
.baiwang__body-container {
  width: calc(100% - 40px);
  background: #E33244;
  margin-left: 20px;
  margin-bottom: 20px;
}

.baiwang__hero {
  background: #E33244;
  font-family: 'Hammersmith One', sans-serif;
}

.baiwang__hero-text-container {
  //top: 50%;
  width: 734px;
}

.baiwang__hero-text-container > h2{
  font-family: 'Hammersmith One', sans-serif;
  font-size: 60px;
  display: inline-block;
  width: 800px;
  position: relative;
  top: -10px;
  text-shadow: 0px 3px 0px #DBDADA;
}

.baiwang__hero-text-container > h1{
  font-family: 'Hammersmith One', sans-serif;
  font-size: 160px;
  display: inline-block;
  text-shadow: 0px 5px 0px #DBDADA;
}

.baiwang__svg-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.baiwang__svg-container > svg {
  //position: absolute;
  transform: scale(0.6);
}

/* CONTENT */
.baiwang__heading {
  position: relative;
  z-index: 1;
  color: #fff;
}

.baiwang__text-container {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.baiwang__text {
  position: relative;
  z-index: 1;
  width: 60%
}

.baiwang__image-container {
  //width: 30%;
  flex: 0 0 300px;
  position: relative;
}

.baiwang__image-left {
  width: 300px;
  margin-left: 40px;
  position: absolute;
  top: -120px;
  z-index: 0;
  left: 0;
}

.baiwang__image-right {
  width: 300px;
  position: absolute;
  //top: -120px;
  z-index: 0;
  left: 0;
}

.baiwang__testimonial {
  width: 500px;
  padding: 60px;
  background: #fff;
  position: relative;
  margin: 160px auto;
  border-radius: 5px;
}

.baiwang__testimonial:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  left: -17px;
  top: -20px;
  position: absolute;
  border: 5px solid #2d2d2d;
  border-radius: 5px;
}

.baiwang__testimonial-quote {
  text-align: center;
  margin: 0 auto;
  //padding-top: 120px;
  //padding-bottom: 120px;
  font-size: 27px;
  line-height: 40px;
}

.baiwang__testimonial-author-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baiwang__testimonial-author-image-container {
  height: 100px;
  background: #d8d8d8;
  width: 100px;
  border-radius: 50%;
}

.baiwang__testimonial-author {
  //margin-left: 50px;
  text-align: center;
}

.baiwang__testimonial-author-name {
  font-size: 40px;
  color: #e33244;
  font-family: 'hammersmithone';
}

.baiwang__testimonial-author-title {
  font-family: 'karla';
  font-size: 20px;
  color: #2d2d2d;
  margin-top: 10px;
  width: 210px;
  line-height: 24px;
}

.baiwang__heading-right {
  text-align: right;
  width: 720px;
  margin-left: calc(100% - 720px);
}
