.design__body-container {
  background: #343D60;
}

.design__hero {
  background: #343D60;
}

.design__text-container {
  z-index: 1;
}

.design__text-container > h2{
  font-size: 20px;
  line-height: 30px;
  display: block;
  letter-spacing: 10px;
  position: relative;
  font-family: 'Hammersmith One', sans-serif;
  position: relative;
  left: -20px;
  text-shadow: none;

  @media (max-width: 800px) {
    font-size: 3vw;
  }

  @media (max-width: 400px) {
    left: 0;
  }
}

.design__text-container > h1{
  font-size: 160px;
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;

  @media (max-width: 850px) {
    font-size: 19vw;
    line-height: 19vw;
  }
}

.design__svg-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 230px;

  @media(max-width:  850px) {
    height: 25vw;
  }
}

.design__svg-container > svg {
  position: relative;
  transform: scale(0.7);
}

.design__svg-container--middle {
  justify-content: space-around;

  @media (max-width: 1050px) {
    justify-content: center;
  }
}

.design__svg-container--bottom {
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.svg--lor,
.svg--mrr  {
  @media (max-width: 1150px) {
    display: none;
  }
}

.svg--bpt {
  top: 40px;
  left: 0px;
}

.svg--mrc {
  top: 70px;
  left: 0px;

  @media (max-width: 500px) {
    top: 50px;
  }
}

.svg--mys {
  top: 140px;
  left: 0px;

  @media(max-width: 800px) {
    top: 100px;
  }

  @media(max-width: 500px) {
    top: 70px;
  }
}

.svg--mbc {
  top: 0px;
  left: 0px;

  @media(max-width: 450px) {
    top: 20px;
  }
}

.svg--mrr {
  top: 0px;
  left: 0px;
}

.svg--lot {
  top: 0px;
  left: 0px;
}

.svg--mps {
  top: -30px;
  left: 0px;

  @media(max-width: 400px) {
    top: 0px;
  }
}

.svg--lgc {
  top: 80px;
  left: 0px;

  @media (max-width: 700px) {
    top: 40px;
  }

  @media(max-width: 450px) {
    top: 10px;
  }
}

.svg--lor {
  top: 0px;
  left: 0px;
}

.design__introduction-heading {
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  text-shadow: 5px 0px 0px rgb(91,259,202), 10px 0px 0px rgb(176,91,250);

  @media(max-width: 630px) {
    font-size: 12vw;
    text-shadow: 0.8vw 0px 0px rgb(91,259,202), 1.6vw 0px 0px rgb(176,91,250);
    line-height: 13vw;
  }
}

.design__introduction-text {
  color: #fff;
  text-align: left;
  margin: 60px auto 0;
  width: 100%;

  @media (max-width: 770px) {
    margin: 50px auto 0;
    width: 90%;
  }

  @media (max-width: 450px) {
    margin: 40px auto 0;
    width: 100%;
  }
}

.design__work-section {
  margin-top: 120px;
}

.design__work-title {
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  text-shadow:  5px 0px 0px rgb(255,212,100), 10px 0px 0px rgb(250,91,117);


  @media(max-width: 600px) {
    font-size: 13vw;
    text-shadow: 0.8vw 0px 0px rgb(255,212,100),  1.6vw 0px 0px rgb(250,91,117);

    line-height: 14vw;
  }

}

.design__work-img-container {
  width: 100%;
  background: #fff;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.design__work-img-container  > img {
  padding: 30px;
}

.design__work-img-container--visual  > img {

  @media(max-width: 500px) {
    padding: 10px;
    width: 50%;
  }
}

.design__work-img-container--interaction > img {
  width: 40%;

  @media(max-width: 1000px) {
    width: 80%;
  }

  @media(max-width: 600px) {
    width: 100%;
  }
}

.design__calender {
  @media(max-width: 680px) {
    width: 90% !important;
  }
}

.design__red-ribbon {
  @media(max-width: 450px) {
    width: 90% !important;
  }
}

.design__work-text {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
}

.design__img-container-two {
  margin-top: 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;

  @media(max-width: 1000px) {
    display: block;
    margin-top: 45px;
  }

  @media(max-width: 700px) {
    margin-top: 30px;
  }

  img {
    width: 48%;

    @media(max-width: 1000px) {
      width: 80%;
      margin: 0 auto;
      display: block;
    }

    @media(max-width: 700px) {
      width: 100%;
    }
  }
}

.design__img-container-two  > img:last-of-type {

  @media(max-width: 1000px) {
    margin: 45px auto 0;
  }

  @media(max-width: 700px) {
    margin: 30px auto 0;
  }
}

.design__img-container-one {
  margin-top: 60px;
  width: 100%;

  @media(max-width: 1000px) {
    width: 80%;
    margin: 45px auto 0;
    display: block;
  }

  @media(max-width: 700px) {
    width: 100%;
    margin: 30px auto 0;
  }
}

.design__img-container-two-uneven {
  display: flex;
  margin-top: 60px;
  align-items: self-start;
  justify-content: space-between;

  @media(max-width: 1000px) {
    display: block;
    margin-top: 45px;
  }

  @media(max-width: 700px) {
    margin-top: 30px;
  }
}

.design__img-container-two-uneven > div {
  width: 48%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  @media(max-width: 1000px) {
    width: 80%;
    margin: 0 auto;
  }

  @media(max-width: 700px) {
    width: 100%;
  }
}

.design__img-container-two-uneven  > div:last-of-type {

  @media(max-width: 1000px) {
    margin: 45px auto 0;
  }

  @media(max-width: 700px) {
    margin: 30px auto 0;
  }
}

.design__img-container-spread {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: white;
  align-items: center;
}

.design__img-container-spread-bottom {
  margin-top: 20px;

  @media(max-width: 1000px) {
    margin-top: 45px;
  }

  @media (max-width: 700px){
    margin-top: 30px;
  }
}

.design__img-banana {
  width: 14%;
}

.design__img-donut{
  width: 18%;
}

.design__img-can{
  width: 11%;
}

.design__img-matcha,
.design__img-pickle {
  width: 15%;
}

.design__img-container-spread--to-do > img {
  padding: 10px;
}

.design__img-calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
