.fed__body-container {
  background: #2502ef;
}

.fed__hero {
  background: #2502ef;
  font-family: 'Playfair Display', serif;
  padding-bottom: 150px;

  @media(max-width: 800px) {
    padding-bottom: 100px;
  }

  @media(max-width: 600px) {
    padding-bottom: 50px;
  }

  @media(max-width: 400px) {
    padding-bottom: 0px;
  }
}

.fed__text-container {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 926px;

  @media (max-width: 800px) {
    padding-top: 19vw;
  }
}

.fed__hero-subheading {
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
  position: relative;
  font-family: 'Droid Sans Mono', monospace;

  @media (max-width: 830px) {
    font-size: 3vw;
  }
}

.fed__hero-heading{
  font-size: 90px;
  line-height: 120px;
  display: block;
  font-family: 'Playfair Display', serif;
  text-align: right;

  @media (max-width: 830px) {
    font-size: 11vw;
    line-height: 14.5vw;
  }
}

.fed__hr {
  border: 0;
  height: 2px;
  background: #fff;
  width: 0%;
  margin-top: 30px;
  margin-bottom: 10px;

  @media(max-width: 500px) {
    margin-top: 20px;
  }
}

.fed__hr--left {
  margin-left: 0;
}

.fed__hr--right {
  margin-right: 0;
}

.fed__blocks-container {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 380px;
  transform: translate(-50%, -50%);
}

.fed__circle {
  position: absolute;
  z-index: 0;
  top: -230px;
  max-height: 250px;
  max-width: 250px;
  border-radius: 50%;
  background: #1F00CD;
  left: -32vw;
  width: 30vw;
  height: 30vw;

  @media (max-width: 450px) {
    left: -22vw;
  }
}

.fed__vertical-block {
  position: absolute;
  background: #1F089D;
  z-index: 0;
  top: -290px;
  height: 530px;
  left: 12vw;
  //width: 38vw;
  max-width: 265px;
  left: 220px;

  @media(max-width: 980px) {
    left: 17vw;
  }

  @media(max-width: 800px) {
    left: 12vw;
  }

  @media(max-width: 680px) {
    left: 12vw;
    height: 440px;
  }

  @media(max-width: 600px) {
    height: 300px;
  }

  @media(max-width: 500px) {
    //height: 310px;
  }

  @media(max-width: 400px) {
    height: 220px;
  }
}

.fed__horizontal-block {
  position: absolute;
  background: #11035F;
  z-index: 0;
  top: 70px;
  height: 210px;
  left: -36vw;
  //width: 83vw;
  max-width: 1060px;

  @media (max-width: 800px) {
    height: 20vw;
    top: 9vw;
  }

  @media (max-width: 600px) {
    left: -30vw;
    top: -4vw;
  }

  @media (max-width: 500px) {
    top: -12vw;
  }

  @media (max-width: 450px) {
    top: -19vw;
  }

  @media (max-width: 400px) {
    left: -23vw;
    //width: 75vw;
    top: -27vw;
  }

  @media (max-width: 350px) {
    top: -45vw;
  }
}

.fed__content {
  width: 70%;
  margin-left: 20%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.fed__introduction-heading {
  color: #fff;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 60px;
  word-wrap: break-word;

  @media(max-width: 500px) {
    font-size: 10vw;
    line-height: 12vw;
  }
}

.fed__introduction-text {
  padding-bottom: 70px;
  margin-top: 40px;
  color: #fff;
}

.fed-content {
  padding: 70px 0;
}

.fed-content__image {
  background: #D8D8D8;
  height: 400px;
  width: 300px;
  position: absolute;
  top: 20px;
  left: -200px;
  z-index: 0;
}

.fed-content__image--right {
  //left: 0;
  left: auto;
  right: -200px;
}

.fed-content__subheading {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  position: relative;
  z-index: 2;
}

.fed-content__heading {
  color: #fff;
  font-size: 70px;
  line-height: 110px;
  position: relative;
  z-index: 2;
  border-bottom: 3px solid white;
  position: relative;

  @media(max-width: 530px) {
    font-size: 13vw;
    line-height: 25vw;
  }
}

.test-container {
  position: relative;
}

.test-container:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.fed__content--right {
  text-align: right;
}

.hr--fed-blue {
  border: 0;
  height: 2px;
  background: #fff;
  width: 100%;
  position: relative;
  z-index: 2;
}

.p--fed {
  margin-top: 0;
  position: relative;
  z-index: 2;
  color: #fff;
  margin-left: 60px;
}

.fed-content__text-container {
  padding-top: 30px;
  display: flex;
  padding-bottom: 70px;
}

.fed-content__text-container--scrappie,
.fed-content__text-container--to-do,
.fed-content__text-container--rpg {
  @media(max-width: 800px) {
    display: block;
    padding-top: 0;
  }
}

.fed-content__text-container--scrappie > p,
.fed-content__text-container--to-do > p,
.fed-content__text-container--rpg > p {
  @media(max-width: 800px) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.fed-content__text-container--tic-tac-toe {
  @media(max-width: 850px) {
    display: block;
    padding-top: 0;
  }
}

.fed-content__text-container--tic-tac-toe > p{
  @media(max-width: 850px) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.fed-content__text-container--monet {
  @media(max-width: 1000px) {
    display: block;
    padding-top: 0;
  }
}

.fed-content__text-container--monet > p{
  @media(max-width: 1000px) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.fed-content__img {
  width: 100%;
}

.fed-content__link {
  padding-top: 40px;
  font-size: 30px;
  display: block;
  text-align: right;
  color: #fff;
  text-decoration: none;
  font-family: 'droid sans mono';
}
