.you__body-container {
  background: linear-gradient(#8770FF, #FF6CAC, #FFD26C, #70EAFC, #77E8F5, #8970FD);
}

.you__hero {
  //height: 100vh;
  //width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
}

.you__hero-wrapper {
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media(max-width: 550px) {
    height: 100vw;
  }
}

.you__hero-heading {
  color: #fff;
  font-size: 60px;
  width: 800px;
  position: relative;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;

  @media(max-width: 550px) {
    font-size: 11vw;
  }
}

.you__emoji {
  width: 300px;

  @media(max-width: 550px) {
    width: 55vw;
  }
}

.you__introduction-heading {
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;

  @media(max-width: 770px) {
    font-size: 70px;
    line-height: 75px;
  }
}

.you__introduction-text {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding-top: 60px;

  @media(max-width: 770px) {
    padding-top: 45px;
    width: 90%;
  }

  @media(max-width: 450px) {
    padding-top: 30px;
    width: 100%;
  }
}

.you__question-container {
  display: flex;
  width: 80%;
  margin: 100px auto 0;
}

.you__question-label {
  color: #fff;
  font-size: 40px;
  position: relative;
  font-family: 'Hammersmith One', sans-serif;
}

.you__question-menu {
  border-bottom: 2px solid white;
  /* background: white; */
  width: 70%;
  margin-left: 15%;
  /* height: 100px; */
  padding-top: 10px;
}

.you__contact-heading {
  margin: 150px auto 100px;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;

  @media(max-width: 770px) {
    font-size: 70px;
    line-height: 75px;
  }
}

.you__contact-container > label {
  font-size: 40px;
  line-height: 30px;
  color: #fff;
  font-family: 'Hammersmith One', sans-serif;
  display: block;
  flex: 0 0 200px;
  position: relative;

  @media(max-width: 1000px) {
    width: 220px;
  }

  @media(max-width: 650px) {
    font-size: 30px;
  }
}

.you__contact-container > label:after {
  content: ":";
  position: absolute;
  right: 0;

  @media(max-width: 1000px) {
    display: none;
  }
}

.you__contact-container {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  @media(max-width: 1000px) {
    display: block;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
  }
}

.you__contact-input {
  border: none;
  background: none;
  border-bottom: 2px solid white;
  /* background: white; */
  width: 80%;
  margin-left: 15%;
  /* height: 100px; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  outline: none;
  color: #fff;

  @media(max-width: 1000px) {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }

  @media(max-width: 650px) {
    margin-right: 0;
  }
}

.you__contact-input:focus {
  border-bottom: 2px solid #F8E71C;
}

.you__contact-submit {
  background: white;
  padding: 15px 60px;
  color: #2d2d2d;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 25px;
  text-decoration: none;
  margin: 60px auto 0;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: screen;
}
