.h1 {
  font-size: 90px;
  line-height: 90px;
  font-family: 'Hammersmith One', sans-serif;
}

.text--right {
  text-align: right;
}

.h2 {
  font-size: 50px;
  line-height: 60px;
  font-family: 'Hammersmith One', sans-serif;
}

.p {
  font-size: 23px;
  font-family: 'Karla', sans-serif;
  letter-spacing: -1.3px;
  //letter-spacing: -0.5px;
  //font-family: 'Hammersmith One', sans-serif;

  //font-family: 'Josefin Sans', sans-serif;

  font-weight: 400;
  //margin-top: 60px;
  line-height: 35px;
  //font-family: 'Quicksand', sans-serif;
  //letter-spacing: 0px;
  color: #2d2d2d;
  white-space: pre-line;

  @media (max-width: 800px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.baiwang__text-container .p {
  letter-spacing: -0.5px;
}

.p--baiwang {
  max-width: 700px;
}

// 
// .p::selection {
//   opacity: 1;
//   background: yellow;
//   color: black;
// }
