.iam__hero {
  color: #fff;
  width: calc(100% - 40px);
  //height: calc(100vh - 40px);
  margin: 0 20px;

  @media (min-width: 1300px) {
    width: calc(100% - 200px);
    margin: 0 100px;
  }
}

.iam__text-container {
  position: relative;
  //transform: translateY(-50%);
  margin: 0 auto;
}

.hero__svg-container {
  //background: pink;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
